In [1]:
import pandas as pd

left = pd.DataFrame(
    {
        "key1": ["K0", "K0",  "K2"],
        "key2": ["K0", "K1",  "K1"],
        "A": ["A0", "A1",  "A3"],
        "B": ["B0", "B1",  "B3"],
    }
)

right = pd.DataFrame(
    {
        "key1": ["K0", "K0", "K1", "K2"],
        "key2": ["K0", "K1", "K0", "K1"],
        "A": ["A0", "A1", "A2", "A3"],
        "B": ["B0", "B1", "B2", "B3"],
    }
)

In [17]:
pd.merge(left, right, how="outer", on="key1", suffixes=[None, "-remove"])

  key1 key2    A    B key2-remove A-remove B-remove
0   K0   K0   A0   B0          K0       A0       B0
1   K0   K0   A0   B0          K1       A1       B1
2   K0   K1   A1   B1          K0       A0       B0
3   K0   K1   A1   B1          K1       A1       B1
4   K2   K1   A3   B3          K1       A3       B3
5   K1  NaN  NaN  NaN          K0       A2       B2

In [2]:
len(pd.read_csv("out/test.csv"))

2789